---
title: Αυξήστε τις επιδόσεις σας πίνοντας καφέ!
layout: article
image: 'articles/picture4.jpg'
secondary_image: 'articles/picture4b.jpg'
thumbnail: 'articles/thumbs/picture4.jpg'
---

- content_for :sidebar do
  %p
    Ο καφές μπορεί να αποτελεί ένα από τα αγαπημένα ροφήματα της καθημερινότητάς μας, κυρίως λόγω της διεγερτικής του δράσης και της σύνδεσής του με την ανεβασμένη διάθεση.
  %h1
    Ωστόσο, φαίνεται να αποτελεί κι ένα σημαντικό ρόφημα που αγαπά ο αθλητισμός! Γιατί;

.page
  :markdown
    # Γνωρίζατε πως ο καφές συμβάλει στην αύξηση των αθλητικών μας επιδόσεων;

    Η περιεκτικότητα του καφέ σε καφεΐνη αποτελεί τον κύριο λόγο που τον μετατρέπει σε ένα από τα πιο δημοφιλή ροφήματα σε άτομα που γυμνάζονται εντατικά.

    Μάλιστα, φαίνεται πως 2 κούπες ή 2 ποτήρια καφέ είναι αρκετά για να αποδώσουν τα σημαντικά οφέλη της καφεΐνης στην αθλητική τους επίδοση.

    Αυτό συμβαίνει γιατί η καφεΐνη, την οποία συναντούμε και σε άλλα τρόφιμα και ροφήματα πέρα από τον καφέ (τσάι, σοκολάτα και αναψυκτικά τύπου κόλα), έχει διαπιστωθεί από έρευνες πως **φαίνεται να επιδρά στην αθλητική επίδοση,** αυξάνοντας την αντοχή κατά τη διάρκεια της άσκησης, επομένως και την ευκολία της, ανάλογα πάντα με το είδος και τη διάρκειά της. Ακόμη, έρευνες έχουν δείξει πως η επίδραση της καφεΐνης στους αθλητές **σχετίζεται και με τη διεγερτική της ικανότητα και τη θετική επίδρασή της στη σκέψη και τη μνήμη,** ενώ γίνεται ακόμη πιο αισθητή κυρίως σε αερόβιες δραστηριότητες και ασκήσεις αντοχής με μεγάλη διάρκεια όπως το ποδήλατο, το τρέξιμο και το σκι αντοχής ή σε βραχυπρόθεσμες (πολύ μικρής διάρκειας) αναερόβιες ασκήσεις πολύ μεγάλης έντασης και σε ομαδικά σπορ π.χ. το ποδόσφαιρο.

.page
  :markdown
    # Πως εξηγείται αυτό;

    Αν και ο μηχανισμός δράσης της καφεΐνης στην αθλητική επίδοση δεν είναι ξεκάθαρος, φαίνεται να σχετίζεται με την επίδρασή της στο φλοιό του εγκεφάλου αλλά και στην ενεργοποίηση της οξείδωσης των λιπαρών οξέων από τους μύες.

    # Η καφεΐνη επιδρά το ίδιο σε όλους;

    Η δράση της καφεΐνης στην αθλητική επίδοση διαφέρει από άτομο σε άτομο και φαίνεται να είναι επαρκής ακόμη και σε μικρές ποσότητες (1-3 mg/kg σωματικού βάρους), ενώ η αύξηση της πρόσληψης πάνω από 3mg/kg ΣΒ δεν φαίνεται να εμφανίζει περαιτέρω αύξηση της δράσης της. Αυτός είναι και ο λόγος που η κατανάλωσή της πρέπει να γίνεται με μέτρο, ώστε να εξασφαλίζονται μόνο τα θετικά της οφέλη.

    Ξεκινώντας λοιπόν την προπόνηση φροντίστε να είστε ήδη ενυδατωμένοι, ενώ ένα με δύο φλιτζάνια καφέ μοιρασμένα κατά τη διάρκειά της είναι αρκετά για να αποκομίσετε τα θετικά οφέλη της καφεΐνης μέσα από ένα φυσικό ρόφημα το οποίο παράλληλα σας παρέχει και άλλα πολύτιμα συστατικά όπως είναι τα αντιοξειδωτικά, χωρίς να σας φορτώνει με θερμίδες
