---
title: 'Καφές: ασπίδα προστασίας για το διαβήτη τύπου 2'
layout: article
image: 'articles/picture6.jpg'
thumbnail: 'articles/thumbs/picture6.jpg'
---

- content_for :sidebar do
  %p
    Εσείς γνωρίζατε πως ο καφές αποτελεί ασπίδα προστασίας της συγκεκριμένης ασθένειας και πως η μέτρια κατανάλωση του σχετίζεται με μειωμένο κίνδυνο ανάπτυξης της;

.page
  :markdown
    H έλλειψη σωματικής δραστηριότητας καθώς και η διατροφή αποτελούν δύο από τους πιο σημαντικούς παράγοντες που σχετίζονται τόσο με την εμφάνιση όσο και με τον τρόπο εξέλιξης του διαβήτη τύπου 2, μιας ασθένειας που απασχολεί ολοένα και νεαρότερες ηλικίες και χρίζει άμεσης πρόληψης.

    Εσείς γνωρίζατε πως ο καφές αποτελεί ασπίδα προστασίας της συγκεκριμένης ασθένειας και πως η μέτρια κατανάλωση του σχετίζεται με μειωμένο κίνδυνο ανάπτυξης της;

    Πρόσφατα αποτελέσματα μάλιστα της Ευρωπαϊκής Προοπτικής Μελέτης για τον Καρκίνο και τη Διατροφή (EPIC), που πραγματοποιήθηκε σε 42,659 άτομα στη Γερμανία, έδειξαν πως όσοι κατανάλωναν **τουλάχιστον 4 φλιτζάνια καφέ ημερησίως εμφάνιζαν 23% μικρότερο κίνδυνο εμφάνισης διαβήτη τύπου 2, συγκριτικά με όσους κατανάλωναν λιγότερο από 1 φλιτζάνι καφέ την ημέρα.**

.page
  :markdown
    Αντίστοιχα, φαίνεται να είναι και τα αποτελέσματα παλαιότερης μελέτης που διεξήχθη στη Σουηδία, όπου φάνηκε πως οι γυναίκες που κατανάλωναν τουλάχιστον 3 φλιτζάνια καφέ ημερησίως είχαν 50% μικρότερο κίνδυνο να εμφανίσουν διαβήτη συγκριτικά με όσες κατανάλωναν 2 φλιτζάνια!

    Οι περισσότεροι ερευνητές αποδίνουν τα ευεργετικά οφέλη του καφέ για τον διαβήτη τύπου 2 στα βασικά συστατικά του, που δεν είναι άλλα από την καφεΐνη και τα αντιοξειδωτικά, ενώ ενδιαφέρον παρουσιάζει και το γεγονός πως αυτή η αρνητική συσχέτιση εξακολουθεί να υπάρχει ακόμη κι όταν ο καφές είναι χωρίς καφεΐνη (ντεκαφεϊνέ)!
