---
title: Είμαι έγκυος και μου αρέσει ο καφές.
layout: article
image: 'articles/picture2.jpg'
thumbnail: 'articles/thumbs/picture2.jpg'
order: 6
---

- content_for :sidebar do
  %h1
    Ο λόγος που οι γυναικολόγοι συστήνουν μειωμένη κατανάλωση καφεΐνης κατά την περίοδο της εγκυμοσύνης.

.page
  :markdown
    Είναι γνωστό ότι ο καφές αποτελεί αγαπημένο ρόφημα πολλών ανθρώπων. Συνήθως, συνοδεύει το πρωινό μας και πολλοί λένε ότι δεν μπορούν να ξυπνήσουν αν δεν πιουν καφέ. Για την ευεργετική αυτή δράση του καφέ, ευθύνεται η καφεΐνη.

    Πιο συγκεκριμένα, η καφεΐνη επιδρά στο Κεντρικό Νευρικό Σύστημα με αποτέλεσμα να μας τονώνει και να μας φέρει σε εγρήγορση.

    Αν και αυτή είναι μια κατάσταση που αποζητούμε στους έντονους ρυθμούς της καθημερινότητας, για την περίοδο της εγκυμοσύνης ωστόσο, αυτό που αποζητιέται περισσότερο είναι η ηρεμία.

    Αυτός είναι και ο λόγος που οι γυναικολόγοι συστήνουν μειωμένη κατανάλωση καφεΐνης κατά την περίοδο της εγκυμοσύνης.

.page
  :markdown
    # Ποια είναι η δοσολογία για την ασφαλή κατανάλωση;!!!!

    Λαμβάνοντας υπ’ όψιν, λοιπόν, το πλήθος των ερευνών που υπάρχουν αλλά και την βαρύτητα των εκάστοτε αποτελεσμάτων, οι διεθνείς οργανισμοί κατέληξαν στις παρακάτω συστάσεις. Σε αντίθεση με έναν οποιονδήποτε ενήλικα, στις γυναίκες που σκοπεύουν να κυοφορήσουν ή βρίσκονται σε κατάσταση εγκυμοσύνης, προτείνεται η κατανάλωση καφεΐνης να μην ξεπέρνα τα 300mg την ημέρα ή αλλιώς τα 4.6mg ανά κιλό σωματικού βάρους. Τα φυσιολογικά επίπεδα που πρέπει να καταναλώνονται από έγκυες κυμαίνονται μεταξύ 150 mg - 300 mg την ημέρα. Μιλώντας για ανήλικους, η συνιστώμενη ποσότητα για κατανάλωση καφεΐνης είναι 2.5mg ανά κιλό σωματικού βάρους την ημέρα.

    Είναι σημαντικό να τονίσουμε σε αυτό το σημείο ότι η καφεΐνη που καταναλώνει μια γυναίκα στο ημερήσιο διαιτολόγιό της δεν προέρχεται μόνο από τον καφέ αλλά και από άλλες πηγές! Παρακάτω ακολουθεί ένας πίνακας με τα καταναλισκόμενα προϊόντα και την περιεκτικότητά του σε καφεΐνη. Συνεπώς για να πετύχετε κατανάλωση καφεΐνης εντός των συστάσεων, θα πρέπει να μετριάσετε την ποσότητα όλων των παραπάνω προϊόντων. Μην

.page
  :markdown
    ξεχνάτε όμως, ότι έχετε την εναλλακτική να επιλέξετε προϊόντα χωρίς καφεΐνη! Ο ντεκαφεϊνέ καφές για παράδειγμα, περιέχει μόλις 2-3mg καφεΐνης και είναι εξίσου απολαυστικός με τον πλήρη. Η αποκαφεϊνοποίηση είναι μια φυσική διαδικασία, ασφαλής για τον καταναλωτή όπου η αφαίρεση της καφεΐνης γίνεται με φυσικό τρόπο και κύριο συστατικό το νερό. Ως αποτέλεσμα, αφαιρείται μόνο η καφεΐνη διατηρώντας την πλούσια γεύση του καφέ αλλά και τα πολύτιμα αντιοξειδωτικά του.

    Παρόλο λοιπόν, που βρίσκεται σε διάφορες τροφές και ποτά η κατανάλωση καφεΐνης στα πλαίσια των συνιστώμενων δοσολογιών δεν θέτει σε κίνδυνο το έμβρυο ή το νεογνό. Το μόνο που χρειάζεται και για να μην στερείστε τον αγαπημένο σας καφέ, είναι να μετριάσετε την ποσότητα ή να επιλέξετε ντεκαφεϊνέ ή... και τα δύο αν σας εξυπηρετεί καλύτερα!

