---
title: Τελικά ο καφές προκαλεί κυτταρίτιδα;
layout: article
image: 'articles/picture5.jpg'
---

- content_for :sidebar do
  %p
    O πρωινός καφές φαίνεται να επιταχύνει τον μεταβολισμό μας κατά 10%, γεγονός που οφείλεται στη δράση της καφεΐνης,
  %h1
    η οποία επιταχύνει τον μεταβολισμό και τον διατηρεί υψηλό για τις επόμενες 3 ώρες.

.page
  :markdown
    Πολλοί έχουν κατηγορήσει τον καφέ ως μια από τις αιτίες
    εμφάνισης της κυτταρίτιδας, λόγω της υψηλής περιεκτικότητας
    τους σε καφεΐνη, ουσίας η οποία λανθασμένα πιστεύεται ότι
    προκαλεί αφυδάτωση δυσχεραίνοντας την αιματική και λεμφική
    κυκλοφορία.

    Ο ισχυρισμός αυτός ωστόσο δεν φαίνεται να αποδεικνύεται
    από επιστημονικές μελέτες. Αντίθετα, με οδηγία του Ινστιτούτου
    Ιατρικής της Ακαδημίας Επιστημών των Η.Π.Α ο καφές
    χαρακτηρίζεται ως πηγή ενυδάτωσης, μαζί με το νερό αλλά και
    όλα τα υπόλοιπα μη αλκοολούχα ροφήματα και ποτά, καθώς
    αποτελείται κατά πολύ μεγάλο μέρος από νερό.

    Επίσης, σύμφωνα με έρευνες ο πρωινός καφές φαίνεται να επιταχύνει τον μεταβολισμό μας κατά 10%, γεγονός που οφείλεται στη δράση της καφεΐνης, η οποία επιταχύνει τον μεταβολισμό και τον διατηρεί υψηλό για τις επόμενες 3 ώρες. Η συσχέτιση του ελληνικού ή στιγμιαίου καφέ με το αδυνάτισμα , πιθανότατα να οφείλεται στη συνεργιστική δράση της καφεΐνης με τα αντιοξειδωτικά (πολυφαινόλες), που διεγείρουν την θερμογένεση , δηλαδή την παραγωγή ενέργειας από τον οργανισμό όπου και προκαλείται αύξηση της καύσης (οξείδωσης) των λιπών μέσω αυτής.

    Συμπερασματικά, θα μπορούσαμε να πούμε ότι η κατανάλωση καφέ που συνοδεύεται από ισορροπημένη διατροφή και τακτική φυσική δραστηριότητα δεν φαίνεται ούτε να προκαλεί αλλά ούτε και να επιδεινώνει το πρόβλημα της κυτταρίτιδας.

.page
  :markdown
    # Τι είναι η Κυτταρίτιδα και πως προκαλείται;

    Η κυτταρίτιδα αποτελεί ένα πολυπαραγοντικό πρόβλημα, καθώς δημιουργείται από το συνδυασμό διάφορων αιτών όπως το στρες, η δυσκοιλιότητα, ορμονικές διακυμάνσεις , κακή διατροφή , έλλειψη άσκησης και κληρονομικότητα.

    Αξίζει επίσης να σημειωθεί ότι την κυτταρίτιδα επιδεινώνουν τα θερμιδογόνα λιπαρά τρόφιμα, στα οποία δεν συμπεριλαμβάνεται ο καφές, καθώς έχει μηδαμινή θερμιδική αξία (χωρίς προσθήκη ζάχαρης ή γάλακτος).

.page
  :markdown
    # Τρόποι αντιμετώπισης της Κυτταρίτιδας:

    Καταναλώστε άφθονες ποσότητες από φρούτα, λαχανικά, δημητριακά ολικής άλεσης και μειώστε την ποσότητα της ζάχαρης και των λιπαρών που καταναλώνετε.

    Περιορίστε το αλάτι και όλα τα τυποποιημένα προϊόντα του εμπορίου που είναι πλούσια σε αυτό (τουρσιά, αλλαντικά, τσιπς, κτλ).

    Πιείτε πολύ νερό! Με την σωστή ενυδάτωση απομακρύνονται οι τοξίνες από τον οργανισμό μας. Πείτε ναι στο νερό, χυμούς φρούτων χωρίς ζάχαρη, τα φρούτα, λαχανικά και τον ελληνικό ή στιγμιαίο καφέ (χωρίς προσμίξεις ζάχαρης ή γάλακτος) που μπορεί να αποτελέσει σύμμαχο σας, καθώς συμβάλλει στην ενυδάτωση.

    Γυμναστείτε! Εντάξτε την άσκηση στην καθημερινότητα σας καθώς η γυμναστική διεγείρει την κυκλοφορία του αίματος , τονώνει και συσφίγγει τους μυς του σώματος
