---
title: Μύθοι και αλήθειες για τον καφέ
layout: article
image: 'articles/picture5.jpg'
image_secondary: 'articles/picture5b.jpg'
---

- content_for :sidebar do
  %h1
    Ένα από τα πιο δημοφιλή ροφήματα στον πλανήτη,
  %p
    αποτελεί μία από τις πρώτες σκέψεις της ημέρας για τους περισσότερους, αλλά και συντροφιά για την υπόλοιπη διάρκειά της

.page
  :markdown
    1. Ο καφές παχαίνει και δεν πρέπει να συμπεριλαμβάνεται σε μια δίαιτα αδυνατίσματος.

    Μύθος: Ο καφές από μόνος του περιέχει σχεδόν μηδενικές θερμίδες. Αποκτάει, όμως, θερμίδες από τη ζάχαρη, το γάλα, το σιρόπι ή τη σαντιγύ που του προσθέτουμε. Ο καφές, λοιπόν, μπορεί να ενσωματωθεί σε μία δίαιτα αδυνατίσματος ελεύθερα συνεχίζοντας να τον καταναλώνετε άφοβα, χωρίς να ξεφεύγετε από το καθημερινό σας πρόγραμμα, αρκεί να ελέγχετε σε συνεννόηση με το διαιτολόγο σας τις θερμίδες που του προσθέτετε με επιπλέον υλικά.

.page
  :markdown
    2. Ο καφές περιέχει μόνο καφεΐνη.

    Μύθος: Ο καφές, εκτός από καφεΐνη, περιέχει και αντιοξειδωτικές ουσίες (πολυφαινόλες), οι οποίες τα τελευταία χρόνια έχουν συσχετιστεί με ευεργετικά οφέλη για την υγεία.

    Πιο συγκεκριμένα, υπάρχουν μελέτες που έχουν συνδέσει την κατανάλωση καφέ με προστασία από την εμφάνιση νόσων, όπως ο σακχαρώδης διαβήτης, τα καρδιαγγειακά νοσήματα, η νόσος πάρκινσον και η νόσος Αλτσχάιμερ. Σύμφωνα με τους περισσότερους ερευνητές, οι πιθανοί «υπεύθυνοι» για την ευεργετική, αυτή, δράση δεν είναι άλλοι από την καφεΐνη και τα αντιοξειδωτικά του.

    Η ενσωμάτωση, λοιπόν, του καφέ στην καθημερινότητά μας στο πλαίσιο μίας ισορροπημένης διατροφής εκτός από τα βραχυπρόθεσμα οφέλη της τόνωσης χάρης την καφεΐνη που περιέχει, μπορεί να αποτελέσει κι έναν πολύτιμο σύμμαχο για την υγεία μας μακροπρόθεσμα.

.page
  :markdown
    3. Ο καφές μας ενυδατώνει

    Αλήθεια: Ο καφές δεν επηρεάζει την ημερίσια ισορροπία υγρών στον οργανισμό μας. Σύμφωνα με το Ινστιτούτο Ιατρικής της Εθνικής Ακαδημίας Επιστημών των ΗΠΑ και το Ευρωπαϊκό Ινστιτούτο Ενυδάτωσης, όλα τα μη αλκοολούχα ποτά και ροφήματα συμβάλλουν στην ενυδάτωσή μας. Οι ειδικοί εκτιμούν ότι το 20% των ημερήσιων αναγκών ενός ενήλικα για υγρά καλύπτονται μέσω των τροφίμων και το υπόλοιπο 80% μέσω ροφημάτων και ποτών, όπως το νερό, το γάλα, οι χυμοί, το τσάι, ο καφές και τα αναψυκτικά. Συμπερασματικά, ο καφές, ο οποίος αποτελείται κατά ένα μεγάλο μέρος από νερό, μπορεί να συμβάλει με τη σειρά του στην κάλυψη των καθημερινών αναγκών σε υγρά.

    4. Ο καφές μας "πειράζει" στα νεύρα.

    Μύθος: Η καφεΐνη που περιέχεται στον καφέ ασκεί ήπια διεγερτική δράση στο Κεντρικό Νευρικό Σύστημα, με αποτέλεσμα να αυξάνεται η προσοχή, η συγκέντρωσή και η βραχυπρόθεσμη μνήμη μας. Αυτό, όμως, δε σημαίνει ότι ταυτόχρονα προκαλεί νευρικότητα. Κάθε άτομο έχει διαφορετική ανεκτικότητα στην καφεΐνη, συνεπώς αν έχετε παρατηρήσει ότι έχετε
