---
title: Πράσινος Καφές!
layout: article
image: 'articles/picture7.jpg'
thumbnail: 'articles/thumbs/picture7.jpg'
---

- content_for :sidebar do
  %h1
    Αποτελεσματικός, και φθηνός τρόπος για να μειωθεί το σωματικό βάρος!

.page
  :markdown
    # Εσείς γνωρίζατε πως οι πράσινου κόκκοι καφέ συμβάλλουν στην απώλεια σωματικούς βάρους;

    Σύμφωνα με τα αποτελέσματα της έρευνας που πραγματοποιήθηκε από τον καθηγητή του Πανεπιστημίου του Scranton στην Πενσυλβανία, κ. JoeVinson, Ph.D και την ομάδα του, υποστηρίζεται πως, **η λήψη πολλαπλών δόσεων από εκχύλισμα πράσινων κόκκων καφέ την ημέρα – παράλληλα με την κατανάλωση μιας υγιεινής διατροφής σε χαμηλής περιεκτικότητας λιπαρά σε συνδυασμό με τακτική άσκηση - φαίνεται να είναι ένας ασφαλές, αποτελεσματικός, και φθηνός τρόπος για να μειωθεί το σωματικό βάρος!**

.page
  :markdown
    # Η μελέτη:

    Η συγκεκριμένη μελέτη που παρουσιάστηκε στη 243η Πανελλήνια Συνάντηση του Ακαδημαϊκού φορέα «American Chemical Society» (ACS), της μεγαλύτερης επιστημονικής κοινότητας στον κόσμο, πραγματοποιήθηκε σε μια ομάδα 16 υπέρβαρων ή παχύσαρκων ατόμων ηλικίας 22-26 ετών, οι οποίοι έλαβαν κάψουλες του εκχυλίσματος ή κάψουλες που περιείχαν ένα εικονικό φάρμακο, για συνολικά 22 εβδομάδες. Οι συμμετέχοντες λάμβαναν καθημερινά και εναλλακτικά μεταξύ τους, μία χαμηλή δόση (700mg) και μια υψηλότερη δόση (1050mg) του εκχυλίσματος.

    Πρόκειται για μία “cross-over” μελέτη, στην οποία οι συμμετέχοντες εναλλάσσονται μέσα από τις δύο δόσεις και το φάρμακο, κάθε ένας για έξι εβδομάδες.

    Οι μελέτες αυτές έχουν πλεονεκτήματα, διότι κάθε άτομο αντιδρά υπό τον δικό του “έλεγχο”, βελτιώνοντας έτσι τις πιθανότητες για ένα πιο ακριβές και αξιόπιστο αποτέλεσμα.

    Όλοι οι συμμετέχοντες παρακολουθήθηκαν για τη συνολική τους δίαιτα (θερμίδες, τρόφιμα που καταναλώθηκαν, κ.λπ.) και την άσκηση κατά τη διάρκεια της περιόδου της μελέτης, χωρίς να αλλάξουν καθόλου, οι θερμίδες, οι υδατάνθρακες τους, τα λίπη και η πρόσληψη πρωτεϊνών, ούτε η συχνότητα της άσκηση τους.

.page
  :markdown
    # Tα αποτελέσματα:

    Οι συμμετέχοντες έχασαν κατά μέσο όρο 8 κιλά κατά τη διάρκεια των 22 εβδομάδων της μελέτης, χάνοντας παράλληλα κατά μέσο όρο 10,5 % του συνολικούς τους σωματικού βάρος και κατά 16 % του σωματικού τους λίπους!

    # Η επίδραση του πράσινου καφέ:

    Με βάση την παραπάνω μελέτη, φαίνεται πως οι επιδράσεις των πράσινων κόκκων στην απώλεια βάρους οφείλεται σε μια ουσία που ονομάζεται χλωρογενικό οξύ, που βρίσκεται σε μη καβουρδισμένους κόκκους καφέ και η οποία διασπάται όταν οι κόκκοι καφέ ψήνονται, προκειμένου να αποκτήσουν οι κόκκοι το διακριτικό τους χρώμα, το άρωμα και τη γεύση τους.
