---
title: Πως γίνεται η παραγωγή του στιγμιαίου καφέ;
layout: article
image: 'articles/picture8.jpg'
thumbnail: 'articles/thumbs/picture8.jpg'
order: 1
---

- content_for :sidebar do
  %h1
    Ο στιγμιαίος καφές ειδικότερα, περνά από μία περαιτέρω διαδικασία ώστε να φτάσει στο τελικό καθαρό προϊόν.

.page
  :markdown
    Η καλλιέργειά του στιγμιαίου καφέ γίνεται σε μικρά αειθαλή δέντρα σε φυτείες κατά μήκος της Νότιας και Κεντρικής Αμερικής, της Αφρικής και της Ασίας. Για την παραγωγή του καφέ που φτάνει στα χέρια μας, η διαδικασία που ακολουθείται είναι:

    1. αρχικά η συλλογή των καρπών
    2. η κατάλληλη προετοιμασία των κόκκων καφέ, ώστε
    να αποφλοιωθεί ο καρπός
    3. το καβούρδισμα
    4. και το άλεσμα.

    Ο στιγμιαίος καφές ειδικότερα, περνά από μία περαιτέρω διαδικασία ώστε να φτάσει στο τελικό καθαρό προϊόν. Αυτή η διαδικασία είναι το διεξοδικό φιλτράρισμα, κατά το οποίο κρατάται το κατακάθι. Δηλαδή, η διαδικασία του φιλτραρίσματος που ακολουθεί ο καταναλωτής στο σπίτι του για την προετοιμασία άλλων ειδών καφέ, για τον στιγμιαίο καφέ έχει ήδη πραγματοποιηθεί! Επιπλέον, υπάρχει και η φάση της αφυδάτωσης του καβουρδισμένου καφέ πριν συσκευαστεί και τελικά φτάσει στην κούπα του καταναλωτή όπου ξαναφτιάχνεται με προσθήκη νερού.
