---
title: Τα οφέλη του καφέ!
layout: article
image: 'articles/picture1.jpg'
thumbnail: 'articles/thumbs/picture1.jpg'
---

- content_for :sidebar do
  %p
    Κάθε πρωί ξυπνάτε με τη σκέψη του και κατά τη διάρκεια της ημέρας συντροφεύει τα διαλείμματα στη δουλειά, χαρίζοντας σας τόνωση για να συνεχίσετε.
  %h1
    Ο λόγος για τον καφέ.
  %p
    Κι αν κι εσείς ανήκετε στους λάτρεις του, έχετε σκεφτεί ποτέ τι άλλο σας προσφέρει πέρα από τη μοναδική μυρωδιά και γεύση του;

.page
  :markdown
    # Η διεγερτική δράση της καφεΐνης

    Ο καφές μας «ξυπνάει» και όχι μόνο επειδή συνηθίζεται να συνοδεύει το πρωινό μας γεύμα. Η καφεΐνη που περιέχει ασκεί ήπια διεγερτική δράση στο Κεντρικό Νευρικό Σύστημα, με αποτέλεσμα να αυξάνεται η προσοχή, η συγκέντρωσή και η βραχυπρόθεσμη μνήμη μας. Κάθε πρωί ξυπνάτε με τη σκέψη του και κατά τη διάρκεια της ημέρας συντροφεύει τα διαλείμματα στη δουλειά, χαρίζοντας σας τόνωση για να συνεχίσετε.

    Τα αποτελέσματα μελετών δείχνουν πως η κατανάλωση καφέ αυξάνει την εγρήγορση και τα αντανακλαστικά μας, ενώ ταυτόχρονα μειώνει την πνευματική κούραση. Απολαύστε λοιπόν ένα ποτήρι παγωμένο στιγμιαίο καφέ που θα σας δροσίσει και θα σας τονώσει ταυτόχρονα προκειμένου να αξιοποιήσετε στο maximum τις δυνατότητές σας!

.page
  :markdown
    # Κατά της γήρανσης και όχι μόνο

    Με τον όρο αντιοξειδωτικά αναφερόμαστε σε μία ομάδα συστατικών που λειτουργούν ως «ασπίδα» προστασίας για το σώμα, προστατεύοντας από τη φθορά που προκαλούν οι ελεύθερες ρίζες. Οι περιβαλλοντικοί ρύποι, το κάπνισμα, η έκθεση στην υπεριώδη ακτινοβολία, το άγχος είναι μερικοί από τους καθημερινούς παράγοντες που αυξάνουν τις ελεύθερες ρίζες στο σώμα μας.

    Το αντιοξειδωτικό περιεχόμενο των τροφίμων παίζει σημαντικό ρόλο στη ικανότητα του οργανισμού να ελέγχει τις φυσιολογικές διεργασίες που επιδρούν στη φθορά του οργανισμού εξαιτίας των ελεύθερων ριζών και κατ’ επέκταση στην γήρανση. Ο καφές, στη σημερινή εποχή, αποτελεί μια από τις βασικότερες πηγές αντιοξειδωτικών ιδιαίτερα στις δυτικού τύπου κοινωνίες, παίζοντας καθοριστικό ρόλο στην καθημερινή κάλυψη των αντιοξειδωτικών αναγκών μας. Τα αντιοξειδωτικά συστατικά που συναντάμε σε ένα ποτήρι ή φλιτζάνι καφέ ανήκουν στην τάξη των πολυφαινολών με κύριους αντιπροσώπους το χλωρογενικό και καφεϊκό οξύ, μία ιδιαίτερα δραστική τάξη αντιοξειδωτικών ενώσεων με σημαντικά οφέλη για την υγεία. Μάλιστα η αντιοξειδωτική ικανότητα του καφέ διατηρείται και στην ντεκαφεϊνέ έκδοσή του.

.page
  :markdown
    # Σύμμαχος & στη δίαιτα

    Ο καφές αποτελεί ένα σημαντικό σύμμαχο κατά τη διάρκεια ενός προγράμματος αδυνατίσματος, αφού δεν αποδίδει θερμίδες όταν επιλέγουμε να τον καταναλώσουμε σκέτο.

    Και αν μιλήσουμε με νούμερα: ένα φλιτζανάκι σκέτου ελληνικού καφέ αποδίδει περίπου μία θερμίδα, ενώ ένα ποτήρι φραπέ με 4γρ στιγμιαίου καφέ σας δίνει μόλις δύο! Κάθε πρωί ξυπνάτε με τη σκέψη του και κατά τη διάρκεια της ημέρας συντροφεύει τα διαλείμματα στη δουλειά, χαρίζοντας σας τόνωση για να συνεχίσετε.

    Το θερμιδικό περιεχόμενο του καφέ αυξάνεται μόνο όταν προσθέτουμε συστατικά, όπως είναι η ζάχαρη και το γάλα. Υπολογίστε 20 θερμίδες επιπλέον για κάθε κουταλάκι του γλυκού ζάχαρη ή/και κάθε γαλατάκι των 10ml και έχετε υπ’ όψιν σας ότι οι θερμίδες εκτοξεύονται πραγματοποιώντας μικρές παρεμβάσεις όπως για παράδειγμα η προσθήκη σαντιγί που ανεβάζει το «κασέ» κατά 75 θερμίδες για κάθε 30 γραμμάρια που διακοσμούν το ποτήρι σας!

.page
  :markdown
    # Συμβάλλει στην ενυδάτωση

    Τα σύγχρονα ερευνητικά δεδομένα έρχονται να ανατρέψουν την παλαιότερη πεποίθηση πως η καφεΐνη οδηγεί στην αφυδάτωση. Στην πραγματικότητα, προκαλεί μία αρκετά περιορισμένη διουρητική δράση, τόσο σε ένταση όσο και σε χρονική διάρκεια, που δεν είναι ικανή να διαταράξει την ισορροπία υγρών μέσα στην ημέρα.

    Άλλωστε, η μέση δόση καφεΐνης που περιέχεται σε ένα φλιτζάνι στιγμιαίου ή ελληνικού καφέ (70mg και 40mg αντίστοιχα) είναι πολύ μικρή για να έχει τέτοιου είδους επίδραση. Σύμφωνα και με τις τελευταίες συστάσεις όλα τα μη αλκοολούχα ροφήματα συμβάλουν στην ενυδάτωσή μας, ακόμη και αυτά που περιέχουν καφεΐνη, αφού αποτελούνται κατά ένα μεγάλο ποσοστό από νερό.
