.articles {

  .top-primary-bar {
    .title {
      text-align: right;

      .dynamic-container {
        display: inline-block;
        height: 45px;
        width: 670px;
        h1 {
          display: inline;
        }
      }
    }
  }

  #sidebar {
    position: absolute; top: 0; bottom: 0; left: 0;
    width: 550px;

    .secondary-image-container {
      position: absolute;
      bottom: 0;
    }

    .text-container {
      background: #DE761C;
      border-radius: 0 35px 35px 0;
      color: white;
      font-weight: bold;
      height: 255px;
      line-height: 1.1em;
      padding: 30px 30px 30px 55px;
      position: relative; top: -35px;
      z-index: 9;

      h1, h2, h3, h4, h5, h6 {
        color: inherit;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.1em;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.1em;
      }
    }

    &.dual-image {
      .text-container {
        height: 250px;
      }
    }

  }

  #main-wrapper {
    background: white image-url("coffee-beans-dark.png") no-repeat;
    background-position: 595px 30px;
    height: 815px;
    overflow: hidden;

    .page {
      height: 815px;
      padding: 20px 20px 20px 670px;
    }

    .emphasis {
      color: $dark-brown;
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 1em;
      line-height: 1.6em;
    }

    .myth-large {
      font-size: 1.8em;
    }

    h1, h2, h3, h4 {
      color: $dark-brown;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.2em;
    }

    ol {list-style: decimal;}
    ul {list-style: disc;}
  }

}

// Per article color schemes

.articles.articles_egkyos {
  .top-primary-bar .title {
    background: #A27EAE;
  }
  #sidebar > .text-container {
    background: #A97B50;
  }
  #main-wrapper h1, #main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, #main-wrapper h6, #main-wrapper a {
    color: #A27EAE;
  }

  #bottom-nav-bar {
    #previous-page {
      @include homepage-control(#A27EAE, #A27EAE, #775C80);
    }

    #next-page {
      @include homepage-control(#A27EAE, #A27EAE, #775C80, right);
    }
  }
}

.articles.articles_mithoi-alithies {
  .top-primary-bar .title {
    background: #E07E27;
  }
  #sidebar > .text-container {
    background: #A97B50;
  }
  #main-wrapper h1, #main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, #main-wrapper h6, #main-wrapper a, #main-wrapper .emphasis {
    color: #E07E27;
  }

  #bottom-nav-bar {
    #previous-page {
      @include homepage-control(#E07E27, #E07E27, #A35B1C);
    }

    #next-page {
      @include homepage-control(#E07E27, #E07E27, #A35B1C, right);
    }
  }
}

.articles.articles_ayksiste-tis-epidoseis-sas {
  .top-primary-bar .title {
    background: #51A090;
  }
  #sidebar > .text-container {
    background: #A97B50;
  }
  #main-wrapper h1, #main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, #main-wrapper h6, #main-wrapper a, #main-wrapper .emphasis {
    color: #51A090;
  }

  #bottom-nav-bar {
    #previous-page {
      @include homepage-control(#51A090, #51A090, #33665C);
    }

    #next-page {
      @include homepage-control(#51A090, #51A090, #33665C, right);
    }
  }
}

.articles.articles_kittaritida {
  .top-primary-bar .title {
    background: #F287B7;
  }
  #sidebar > .text-container {
    background: #A97B50;
  }
  #main-wrapper h1, #main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, #main-wrapper h6, #main-wrapper a, #main-wrapper .emphasis {
    color: #F287B7;
  }

  #bottom-nav-bar {
    #previous-page {
      @include homepage-control(#F287B7, #F287B7, #BB7293);
    }

    #next-page {
      @include homepage-control(#F287B7, #F287B7, #BB7293, right);
    }
  }
}

.articles.articles_diavitis {
  .top-primary-bar .title {
    background: #3AA7CD;
  }
  #sidebar > .text-container {
    background: #A97B50;
  }
  #main-wrapper h1, #main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, #main-wrapper h6, #main-wrapper a, #main-wrapper .emphasis {
    color: #3AA7CD;
  }

  #bottom-nav-bar {
    #previous-page {
      @include homepage-control(#3AA7CD, #3AA7CD, #398FAC);
    }

    #next-page {
      @include homepage-control(#3AA7CD, #3AA7CD, #398FAC, right);
    }
  }
}

.articles.articles_prasinos-kafes {
  .top-primary-bar .title {
    background: #93C789;
  }
  #sidebar > .text-container {
    background: #A97B50;
  }
  #main-wrapper h1, #main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, #main-wrapper h6, #main-wrapper a, #main-wrapper .emphasis {
    color: #93C789;
  }

  #bottom-nav-bar {
    #previous-page {
      @include homepage-control(#93C789, #93C789, #5A9F4D);
    }

    #next-page {
      @include homepage-control(#93C789, #93C789, #5A9F4D, right);
    }
  }
}

.articles.articles_stigmiaios-kafes {
  .top-primary-bar .title {
    background: #A97B50;
  }
  #sidebar > .text-container {
    background: #A27EAE;
  }
  #main-wrapper h1, #main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, #main-wrapper h6, #main-wrapper a, #main-wrapper .emphasis {
    color: #A97B50;
  }

  #bottom-nav-bar {
    #previous-page {
      @include homepage-control(#A97B50, #A97B50, #8D5F32);
    }

    #next-page {
      @include homepage-control(#A97B50, #A97B50, #8D5F32, right);
    }
  }
}
