.articles {
  #sidebar {
    position: absolute; top: 0; bottom: 0; left: 0;
    width: 550px;

    .secondary-image-container {
      position: absolute;
      bottom: 0;
    }

    .text-container {
      background: #DE761C;
      border-radius: 0 35px 35px 0;
      color: white;
      font-weight: bold;
      height: 255px;
      line-height: 1.1em;
      padding: 30px 30px 30px 55px;
      position: relative; top: -35px;
      z-index: 9;

      h1, h2, h3, h4, h5, h6 {
        color: inherit;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.1em;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.1em;
      }
    }

    &.dual-image {
      .text-container {
        height: 250px;
      }
    }

  }

  #main-wrapper {
    background: white image-url("coffee-beans-dark.png") no-repeat;
    background-position: 595px 30px;
    height: 815px;
    overflow: hidden;

    .page {
      height: 815px;
      padding: 20px 20px 20px 670px;
    }

    h1, h2, h3, h4 {
      color: $dark-brown;
      font-weight: bold;
      font-size: 36px;
    }
  }

}
