// Massive mixin follows!
@mixin homepage-control($bg-body, $bg-head, $border-head, $direction: left) {
  @include button($radius:50px);
  background: $bg-body;
  color: white;
  font-weight: bold;
  margin: 0;
  position: relative;

  @include transition-duration(0.3s);

  @if $direction == left {
    padding: 10px 30px 10px 50px;
    left: 35px;
  }
  @if $direction == right {
    padding: 10px 50px 10px 30px;
    right: 35px;
  }

  &:hover, &:focus, &:active {
    background: darken($bg-body, 15%);
  }

  span {
    $height: 60px;
    $border-width: 7px;
    background: $bg-head;
    border-radius: $height;
    border: $border-width solid $border-head;
    display: table;
    font-size: 1.5em;
    height: $height; width: $height;
    line-height: $height - ($border-width*2);
    vertical-align: middle;
    position: absolute; bottom: -10px;

    @include transition-duration(0.3s);

    @if $direction == left {
      left: -30px
    }
    @if $direction == right {
      right: -30px;
    }
  }
}

#bottom-nav-bar {
  background: $light-brown;
  border-top: 1px solid $brown;
  bottom: 0;
  left: 0;
  padding: 30px 30px;
  position: absolute;
  right: 0;

  #homepage {
    @include homepage-control(#C49A6C, $dark-brown, #C49A6C);
  }

}
