@mixin homepage-tile {
  min-height: 510px;
  background-size: contain;
}

@mixin homepage-link {
  text-align: center;
  .image {
    padding: 50px 10px 60px;
  }
  .body {
    color: white;
    font-size: 24px;
    font-weight: bold;
    .big {
      font-size: 1.5em;
    }
  }
}

.homepage {
  #article-brand {
    @include homepage-tile;
    background: image-url("homepage/part1.jpg") center no-repeat;
    background-size: cover !important;
  }
  #video-brand {
    @include homepage-tile;
    background: image-url("homepage/part2.jpg") center no-repeat;
  }
  #promo-brand {
    @include homepage-tile;
    background: $promo image-url('homepage/MrGrandProionta-01.png') center no-repeat;
    background-size: 70% !important;
  }

  #article-link {
    @include homepage-tile;
    @include homepage-link;

    background: $dark-brown;
  }
  #video-link {
    @include homepage-tile;
    @include homepage-link;

    background: $brown;
  }
  #promo-link {
    @include homepage-tile;
    @include homepage-link;

    background: $promo image-url('homepage/OiProsforesMas.png') center no-repeat;
    background-size: 90% !important;
    a {
      display: block;
      height: 510px;
      width: 640px;
    }
  }

}

