.mr-grand {
	.product-list {
		.product {

			border-top: 7px solid $brown;
			border-bottom: 30px solid $brown;
			padding: 55px 0 25px;
			position: relative;
			text-align: center;

			h3 {
				font-weight: bold;
				line-height: 1.2em;
				margin: 0;
			}

			&.second {
				border-color: $dark-brown;

				&:before {
					content: ' ';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					border-left: 1px solid #333;
				}

				&:after {
					content: ' ';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					border-right: 1px solid #333;
				}
			}

			&.last {
				border-top-color: $light-brown;
				border-bottom-color: $light-brown;
			}
		}

		.preview {
			margin-bottom: 40px;
		}

		.link {
			display: block;
			margin-top: 30px;
		}

		&.inside {
			.product {
				background: image-url('images/mrgrand/product-background.jpg') repeat-x top center;
				padding-bottom: 150px;
				h3 {
					span { font-weight: 100;}
				}
			}
		}

	}

}
