<section class="top-primary-bar">
  <div class="title">
    <h1><%= image_tag 'mrgrand/mr-grand-logo.jpg', class: "h1", style: 'width: 270px' %></h1>
  </div>
  <%= image_tag "coffee-beans.png" %>
</section>
