<section class="top-primary-bar">
  <div class="title">
    <h1><%= title %></h1>
  </div>
  <div class="subtitle">
    Αγγίξτε το άρθρο που θέλετε να διαβάσετε
  </div>
  <%= image_tag "http://placehold.it/125x125" %>
</section>
