<% link_to sitemap.find_resource_by_path("/mr-grand.html"), class: 'control', id: 'back-to-mr-grand' do %>
  <span><%= image_tag "controls/left-arrow-icon.svg", style: 'height: 30px; position: relative; right: 3px; bottom: 2px;' %></span>
  πίσω στα προϊόντα Mr Grand
<% end %>
