<section id="bottom-nav-bar">
  <div class="row">
    <div class="small-6 columns">
      <%= partial "shared/controls/bottom-bar-homepage" if available_controls.include?(:homepage) %>
    </div>

    <div class="small-3 columns"></div>
    <div class="small-3 columns"></div>
  </div>
</section>
