---
layout: 'mrgrand-product'
---
<div class="row">
	<div class="small-12">
		<h2>
			<%= image_tag "mrgrand/java.jpg" %>
			Καφές φίλτρου
		</h2>
	</div>
</div>

<div class="row no-gutter product-list inside">
	<div class="small-4 columns">
		<div class="product first">
			<%= image_tag 'mrgrand/filter-1.png', class: 'preview' %>
			<h3>
				Καφές Φίλτρου 	Mr. Grand<br	/>
				<span>100% Arabica 250 γρ.</span>
			</h3>

		</div>
	</div>
	<div class="small-4 columns">
		<div class="product second">
			<%= image_tag 'mrgrand/filter-2.png',  class: 'preview' %>
			<h3>
				Καφές Φίλτρου   Mr. Grand	<br	/>
				<span>Βανίλια-Φουντούκι 250 γρ.</span>
			</h3>
		</div>
	</div>
	<div class="small-4 columns last">
		<div class="product">
			<%= image_tag 'mrgrand/filter-3.png', class: 'preview' %>
			<h3>
				Καφές Φίλτρου   Mr. Grand  <br />
				<span>Φουντούκι 250 γρ.</span>
			</h3>

		</div>
	</div>
</div>
