---
layout: 'mrgrand-product'
---
<div class="row">
	<div class="small-12">
		<h2>
			<%= image_tag "mrgrand/coffee-heart.jpg" %>
			Ελληνικός Καφές
		</h2>
	</div>
</div>

<div class="row no-gutter product-list inside">
	<div class="small-12 columns">
		<div class="product first">
			<%= image_tag 'mrgrand/greek-coffee.png', class: 'preview' %>
			<h3>
				Ελληνικός Καφές Mr. Grand<br	/>
				<span>96 γρ.</span>
			</h3>

		</div>

	</div>
</div>
