---
layout: 'mrgrand-index'
---
<img src="http://placehold.it/1300x220">

<div class="row no-gutter product-list inside">
	<div class="small-12 columns">
		<div class="product first">
			<%= image_tag 'mrgrand/greek-coffee.png', class: 'preview' %>
			<h3>
				Ελληνικός Καφές<br	/>
			</h3>

		</div>

	</div>
</div>
