---
layout: 'mrgrand-product'
---
<img src="http://placehold.it/1300x220">

<div class="row no-gutter product-list inside">
	<div class="small-4 columns">
		<div class="product first">
			<%= image_tag 'mrgrand/instant-1.png', class: 'preview' %>
			<h3>
				Στιγμιαίος Καφές<br	/>
				<span>200gr</span>
			</h3>

		</div>
	</div>
	<div class="small-4 columns">
		<div class="product second">
			<%= image_tag 'mrgrand/instant-2.png',  class: 'preview' %>
			<h3>
				Στιγμιαίος Καφές<br	/>
				<span>100gr</span>
			</h3>
		</div>
	</div>
	<div class="small-4 columns last">
		<div class="product">
			<%= image_tag 'mrgrand/instant-3.png', class: 'preview' %>
			<h3>
				Στιγμιαίος Καφές<br	/>
				<span>Decaffeinated</span>
			</h3>

		</div>
	</div>
</div>
