---
layout: 'mrgrand-product'
---
<div class="row">
	<div class="small-12">
		<h2>
			<%= image_tag "mrgrand/cofee.jpg" %>
			Στιγμιαίος Καφές
		</h2>
	</div>
</div>

<div class="row no-gutter product-list inside">
	<div class="small-4 columns">
		<div class="product first">
			<%= image_tag 'mrgrand/instant-1.png', class: 'preview' %>
			<h3>
				Στιγμιαίος Καφές Mr. Grand<br	/>
				<span>200 γρ.</span>
			</h3>

		</div>
	</div>
	<div class="small-4 columns">
		<div class="product second">
			<%= image_tag 'mrgrand/instant-2.png',  class: 'preview' %>
			<h3>
				Στιγμιαίος Καφές Mr. Grand<br	/>
				<span>100 γρ.</span>
			</h3>
		</div>
	</div>
	<div class="small-4 columns last">
		<div class="product">
			<%= image_tag 'mrgrand/instant-3.png', class: 'preview' %>
			<h3>
				Στιγμιαίος Καφές Mr. Grand<br	/>
				<span>Ντεκαφεϊνέ 100 γρ.</span>
			</h3>

		</div>
	</div>
</div>
