---
layout: indices
---

<div class="row no-gutter">
  <div class="small-12 columns">

    <ul class="small-block-grid-2 catalogue">

      <% sitemap.where(:layout => "article").all.each do |article|%>
        <li>
          <% link_to article.url do %>

            <div class="row no-gutter">

              <div class="small-5 columns">
                <div class="thumbnail" style="background-image: url(<%= image_path(article.data[:thumbnail]) %>)">
                  <%= image_tag "controls/index-pointer.png", class: 'pointer' %>
                </div>
              </div>

              <div class="small-7 columns">
                <div class="content">
                  <%= article.data[:title] %>
                </div>
              </div>

            </div>

          <% end %>

        </li>
      <% end %>

    </ul>

  </div>
</div>
