---
---

<div class="row no-gutter">
  <div class="small-6 columns" id="article-brand"></div>
  <div class="small-6 columns" id="promo-brand"></div>
</div>

<div class="full-width-spacer"></div>

<div class="row no-gutter">

  <div class="small-6 columns" id="article-link" data-link>
    <div class="image">
      <% link_to sitemap.find_resource_by_path("/articles.html") do %>
        <%= image_tag 'homepage/clickhere.png' %>
      <% end %>
    </div>
    <div class="body">
      <span class="big">Μάθετε</span><br>για τον καφέ
    </div>
  </div>

  <div class="small-6 columns" id="promo-link" data-link>
    <div class="promo">
      <% link_to "#" do %>
        .
      <% end %>
    </div>
  </div>

</div>
